<p>##salut## ##prenom## ##nom##</p>

<p>Vous avez soumis une demande d'inscription à l'ISND section maternelle. Nous vous remercions pour l'intérêt que vous portez à notre école.</p>

<p>Veuillez maintenant visiter la page suivante ##lien## pour confirmer votre demande.</p>

<p>Dès qu'une place sera disponible pour votre enfant, nous vous contacterons pour fixer un rendez-vous d'inscription.</p>

<p>En cas de difficulté, veuillez contacter:
    <ul>
        <li>par mail: le secrétariat de l'école maternelle <a href="mailto:secretariat.maternelle@isnd.be">(secretariat.maternelle@isnd.be)</a> </li>
        <li>par téléphone: 02 523 29 47</li>
    </ul>
</p>

<p>Nous vous conseillons très fortement de conserver précieusement le présent mail pour référence ultérieure.</p>

<hr>

<p>L'information et tous les fichiers éventuellement attachés que contient ce courrier électronique sont à l'usage exclusif du(es) destinataire(s) qui portera(ront) la responsabilité des copies et retransmission qu'il(s) en ferai(en)t. Ces informations peuvent être confidentielles et doivent alors être traitées comme telles.</p>

<p>Le contenu de ce courrier électronique, est protégé par la loi. Ainsi, si vous n'en êtes pas le destinataire, toute divulgation, reproduction ou usage sont strictement interdits. Si vous avez reçu ce message par erreur, veuillez en informer l’expéditeur et procéder à sa suppression.</p>
